.main_body {
    min-height: 85vh;
    min-width: 100%;
    background-color: #FFFFE8;
    padding: 0;
    margin: 0;
}

.navbars {
    min-height: 15vh;
}



.app {
    min-height: 100vh;
    min-width: 95vw;
}



